{% extends 'home/main.html' %}
{% load static %}
{% block content %}
{% include 'home/header.html' %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-5 text-end"><img src="{% static 'img/mobile-animation.png' %}" width="70%"></div>
        <div class="col-md-7">
            <h1>Zaatakuj swoje słabości</h1>
            <p>Fiszki online optymalizują naukę, powtarzając trudniejsze koncepcje w idealnym odstępie czasu, aby maksymalnie zachować pamięć.</p>
        </div>
    </div>
</div>
<div class="row">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,224L60,240C120,256,240,288,360,277.3C480,267,600,213,720,197.3C840,181,960,203,1080,213.3C1200,224,1320,224,1380,224L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,160L60,133.3C120,107,240,53,360,48C480,43,600,85,720,106.7C840,128,960,128,1080,144C1200,160,1320,192,1380,208L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <h1>Najmądrzejszy na świecie aplikacja do fiszek.</h1>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 my-5">
                <h3><i class="fas fa-laptop fa-2x"></i> Twórz lepsze fiszki</h3>
            </div>
            <div class="col-md-12 my-5">
                <h3><i class="fas fa-sync fa-2x"></i> Synchronizuj</h3>
            </div>
            <div class="col-md-12 my-5">
                <h3><i class="fas fa-share fa-2x"></i> Udostępnij</h3>
            </div>
            <div class="col-md-12 my-5">
                <h3><i class="fas fa-book-reader fa-2x"></i> Ucz się efektywnie</h3>
            </div>
            <div class="col-md-12 my-5">
                <h3><i class="fas fa-globe-europe fa-2x"></i> Śledź lepsze dane</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,96L40,101.3C80,107,160,117,240,117.3C320,117,400,107,480,106.7C560,107,640,117,720,128C800,139,880,149,960,165.3C1040,181,1120,203,1200,181.3C1280,160,1360,96,1400,64L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,96L40,101.3C80,107,160,117,240,117.3C320,117,400,107,480,106.7C560,107,640,117,720,128C800,139,880,149,960,165.3C1040,181,1120,203,1200,181.3C1280,160,1360,96,1400,64L1440,32L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h1>Zaufany przez miliony, aby osiągnąć swoje cele.</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://www.brainscape.com//assets/cms/public-views/pages/landing/testimonials-grid/teacher.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
      <div class="card-body">
        <h5 class="card-title">Nauczyciel</h5>
        <p class="card-text">
          Prawdopodobnie najważniejsza zmiana w nawykach uczenia się naszych studentów.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.brainscape.com//assets/cms/public-views/pages/landing/testimonials-grid/traveller.jpg" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Podróżniczka</h5>
        <p class="card-text">W ciągu kilku dni mój hiszpański przeszedł z podstawowego do konwersacyjnego; niezwykle dogłębny i łatwy w użyciu.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.brainscape.com//assets/cms/public-views/pages/landing/testimonials-grid/nurse.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Pielęgniarka</h5>
        <p class="card-text">Tak intuicyjny i prosty... wygodny w codziennej praktyce. Utrwaliłem informacje, z którymi miałem problemy.</p>
      </div>
    </div>
  </div>
</div>
</div>



{% endblock %}