{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<section id="two" class="pricing-table d-flex align-items-center peach-gradient mt-5 pt-5">

  <div class="container">

    <div class="row justify-content-center align-items-center">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title grey-text text-uppercase text-center">Za darmo</h5>
            <h6 class="card-price text-center">0 zł<span class="term">/miesiąc</span></h6>
            <hr class="my-4">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="grey-text"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
              <li class="grey-text"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="grey-text"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
              <li class="grey-text"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-orange z-depth-0 btn-rounded my-2">Wybierz</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title grey-text text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">19 zł<span class="term">/miesiąc</span></h6>
            <hr class="my-4">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
              <li class="grey-text"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-orange z-depth-0 btn-rounded my-2">Już niebawem!</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
    </div>

  </div>

</section>




{% endblock %}