{% extends 'profiles/main.html' %}
{% load static %}

{% block add_card_link %}
<li class="breadcrumb-item"><a href="{% url 'profiles:add_card' %}">Edytuj Fiszkę</a></li>
{% endblock %}

{% block content %}
<div class="col-lg-8">
  <h1>Edytuj Fiszkę</h1>
  <div class="row">

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Edytuj fiszkę</button>
    </form>
    <h6 class="mt-3"><a href="{% url 'profiles:index_profile' %}"><< wróć</a></h6>


<!--    <h2 class="mt-5">Nowa wersja</h2>-->
<!--    <form>-->
<!--  &lt;!&ndash; Email input &ndash;&gt;-->
<!--  <div class="form-outline mb-4">-->
<!--    <input type="text" id="form1Example1" class="form-control" />-->
<!--    <label class="form-label" for="form1Example1">Polska wersja</label>-->
<!--  </div>-->

<!--  &lt;!&ndash; Password input &ndash;&gt;-->
<!--  <div class="form-outline mb-4">-->
<!--    <input type="text" id="form1Example2" class="form-control" />-->
<!--    <label class="form-label" for="form1Example2">Angielska wersja</label>-->
<!--  </div>-->

<!--  <div class="form-outline mb-4">-->
<!--    <input type="text" id="form1Example3" class="form-control" />-->
<!--    <label class="form-label" for="form1Example3">Angielska wersja</label>-->
<!--  </div>-->

<!--  &lt;!&ndash; Submit button &ndash;&gt;-->
<!--  <button type="submit" class="btn btn-primary btn-block">Dodaj fiszkę</button>-->
<!--</form>-->

  </div>
</div>

{% endblock %}