<div class="container pt-5 mt-5">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="card text-center">
  <div class="card-header">Błąd logowania!</div>
  <div class="card-body">
    <h5 class="card-title">Jesteś niezalogowanym użytkownikiem</h5>
    <p class="card-text">Kliknij i zaloguj się!</p>
    <a data-mdb-toggle="modal" data-mdb-target="#loginModel" href="" class="btn btn-primary">Zaloguj się!</a>
  </div>
  <div class="card-footer text-muted">Zapraszamy!</div>
</div>
        </div>
    </div>
</div>