{% extends 'profiles/main.html' %}
{% load static %}
{% block categories_link %}
<li class="breadcrumb-item"><strong>Kategoria:</strong> {{ category.name }}</li>
{% endblock %}

{% block content %}
<div class="col-lg-8">
  <h1>{{ category.name }}</h1>

  <div class="row">
  {% for c in category.flashcards.all %}
    {% if not check_card %}

    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card text-white bg-success mb-3">
  <div class="card-header">{{ c.name_pl }}</div>
    {% endif %}
  <div class="card-body">
    <details>
      <summary class="btn btn-primary">Sprawdź</summary>
        <hr>
        <h5 class="card-title">{{ c.name_eng }}</h5>
      </details>
      <hr>
      {% include 'flashcard/card_check_form.html' with solved=True %}
      {% include 'flashcard/card_check_form.html' with solved=False %}
  </div>
</div>
  </div>


  {% endfor %}
</div>
  </div>

{% endblock %}