{% load static %}
{% load humanize %}
{% load cards_tags %}
<div class="col-lg-8">
    <div class="col-md-12 mb-4">
    {% boxes_as_links %}
    </div>
  <h1 class="">Fiszki Online</h1>
  <div class="row">
      <div class="com-md-12 mt-2">
      <p>Dodaj swoje pierwsze fiszki i naucz się języka angielskiego w błyskawicznym czasie!</p>
      </div>





<!--   {% for card in cards_f %}-->
<!--      {% ifchanged %}-->
<!--      <h3>{{ card.box|ordinal }} Box</h3>-->
<!--      {% endifchanged %}-->
<!--        {% include 'flashcard/include/card.html' %}-->
<!--      {% endfor %}-->
</div>
</div>
